.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.521),rgba(0,0,0, 0.521)) ,url(../img/background2.jpg) ;
    background-size: cover;
    background-position: center center;
    overflow: auto;
    height: 100vh;
}
.icon{
    color: yellow;
}
.icon2{
    color: aliceblue;

}
#content{
    position: relative;
}

#btn{
    position: absolute;
}
.inputbtn{
    top:0px;
    right: 12px;
}
.inputbtn2{ top:1px;
    right: 4px;}
.fa-brands{background-color: black;
color: blue; 
border-radius: 50%;
padding: 10px;}
.icon3{
    color: grey;
}
.nav-item .active {
    padding: 10px;
    border: #ffff 1px solid;
    border-radius: 30px 30px;
}

.sun{
    background-color:
rgba(0, 0, 0, 0.9);
padding: 15px;
}
.sun2{
    background-color:
    rgba(0, 0, 0, 0.9)  ;
    padding: 15px;
}
.bg{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
}
.bg2{
background-color: rgba(0, 0, 0, 0.8);
padding: 15px;
}